
html, body{font-size:14px; }
body{margin:0px; font-family:"微软雅黑"; color:#333333;}
ul, ol, menu, p, h1, h2, h3, h4, h5, h6, hr, dl, dt, dd{padding:0px; margin:0px;}
li{padding:0px; margin:0px; list-style-type:none}
a{text-decoration:none;}
input{border:1px solid #cfcfcf; font-size:12px; height:30px; padding:0px; margin:0px; vertical-align:middle; box-sizing:border-box; outline:none; }
select{border:1px solid #cfcfcf; font-size:12px; height:30px; padding:0px; margin:0px; vertical-align:middle; box-sizing:border-box; outline:none; }
textarea{border:1px solid #cfcfcf; font-size:12px; padding:0px; margin:0px; vertical-align:middle; box-sizing:border-box; outline:none; }
button{border:none; background-color:#4ab6ef; color:#ffffff; font-size:12px; height:30px; padding:0px 10px; cursor:pointer; vertical-align:middle; box-sizing:border-box; outline:none; }
.clearfix::after{clear:both; content:""; display:block;}
.green{background-color:#5DC4BF!important}
.red{background-color:#cd5050!important}
.blue{background-color:#009CEA!important}
.left{float:left}
.right{float:right}
